@use "../abstract/mixin/" as *;

.footer {
  background: var(--moderate-cyan-footer);
  padding-top: 3rem;
  padding-bottom: 3rem;
  &__heading {
    svg {
      width: 171px;
      height: 35.5px;
      & > * {
        fill: var(--cyan-footer-logo-text);
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    gap: 0 3.5rem;
  }
  &__item {
    line-height: 2;
  }

  &__link {
    @include fonts-properties(1rem, var(--ftf-barlow), var(--ftw-semi-bold));
    color: var(--dark-moderate-cyan-footer);
    &:hover {
      color: var(--white);
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    & a:hover {
      filter: brightness(100);
    }
  }
}
