@use "../abstract/" as *;
.btn {
  @include fonts-properties(14px, var(--ftf-fraunces), var(--ftw-bold));
  background: var(--yellow);
  text-transform: uppercase;
  letter-spacing: 0.6px;
  width: 7.83rem;
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 1.5rem 0;
  display: inline-block;
  color: var(--very-dark-desaturated-blue);

  @include breakpoint(tablet) {
    background: var(--white);
  }

  @include transition(opacity, 0.5s);
  &:hover,
  &:focus {
    background: hsla(198, 100%, 68%, 1);
    color: var(--white);
  }
}
.card__link {
  @include fonts-properties(0.78rem, var(--ftf-fraunces), var(--ftw-black));
  color: var(--very-dark-desaturated-blue);
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.7rem;
    margin-top: 0.5rem;
    opacity: 0.2;
    border-radius: 2rem;
    z-index: -1;

    @include transition(opacity);
  }

  &:hover::after {
    opacity: 1;
  }

  &--yellow {
    &::after {
      background: var(--yellow);
    }
  }

  &--red {
    &::after {
      background: var(--soft-red);
    }
  }
}
