@use "../abstract/mixin" as *;

.card {
  background: var(--base-color);

  &__body {
    padding: 2.5rem 1.5rem;

    @include breakpoint(tablet) {
      padding: 1.5rem 1.5rem;
    }
    @include breakpoint(laptop) {
      text-align: left;
    }
    @include breakpoint(desktop) {
      margin: 0 3rem;
    }
    @include breakpoint(desktop) {
      margin: 0 6rem;
    }
  }

  &__title {
    @include fonts-properties(1.78rem, var(--ftf-fraunces), var(--ftw-black));
    color: var(--very-dark-desaturated-blue);

    @include breakpoint(desktop) {
      font-size: (36 / 18) * 1rem;
    }

    @include breakpoint(lg-desktop) {
      font-size: (40 / 18) * 1rem;
    }
  }

  &__text {
    @include fonts-properties(1rem, var(--ftf-barlow), var(--ftw-semi-bold));
    line-height: 1.6;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--dark-grayish-blue);

    @include breakpoint(laptop) {
      padding: 2rem 0;
    }
  }
}

%image-overlay {
  display: flex;
  justify-content: center;
  height: (600 / 18) * 1rem;
  padding-top: 22rem;
}

%body {
  max-width: 21rem;
  // padding-bottom: 2rem;
}

%title {
  @include fonts-properties(1.55rem, var(--ftf-fraunces), var(--ftw-black));
  padding-bottom: 1rem;
}

%text {
  @include fonts-properties(0.9rem, var(--ftf-barlow), var(--ftw-semi-bold));
  line-height: 1.7;
  // padding: 1rem;
}

.graphic {
  color: var(--dark-cyan-graphic-text);

  &__image-overlay {
    background: url(../../images/mobile/image-graphic-design.jpg) center / cover no-repeat;
    @include breakpoint(tablet) {
      background: url(../../images/desktop/image-graphic-design.jpg) center / cover no-repeat;
    }
    @extend %image-overlay;
  }
  &__body {
    @extend %body;
  }
  &__title {
    @extend %title;
  }
  &__text {
    @extend %text;
  }
}

.photo {
  color: var(--dark-blue-photography-text);
  &__image-overlay {
    background: url(../../images/mobile/image-photography.jpg) center / cover no-repeat;
    @include breakpoint(tablet) {
      background: url(../../images/desktop/image-photography.jpg) center / cover no-repeat;
    }
    @extend %image-overlay;
  }

  &__body {
    @extend %body;
  }
  &__title {
    @extend %title;
  }
  &__text {
    @extend %text;
  }
}

.features {
  @include breakpoint(tablet) {
    @include grid-column(2);
  }
  & section {
    &.transform,
    &.audience {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:first-child {
      @include re-order(1, 2);
    }
  }
}
