@use '../abstract/mixin/' as *;
.hero {
  background: url(../../images/mobile/image-header.jpg) center bottom / cover no-repeat;
  position: relative;
  height: 24.2222rem;
  z-index: -1;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoint(tablet) {
    background: url(../../images/desktop/image-header.jpg) center bottom / cover no-repeat;
    height: (690 / 18) * 1rem;
  }

  &__title {
    color: white;
    @include fonts-properties(2.22rem, var(--ftf-fraunces), var(--ftw-black));
    text-transform: uppercase;
    padding: 2.5rem 1rem;
    letter-spacing: 6px;

    @include breakpoint(tablet) {
      margin-top: 2.5rem;
    }
  }

  &__arrow {
    @include breakpoint(tablet) {
      margin-top: 4rem;
    }
  }
}
