.hero {
  background: url(../../images/mobile/image-header.jpg) center / cover no-repeat;
  position: relative;
  height: 24.2222rem;
  z-index: -1;
  text-align: center;

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    color: white;
    font-size: 40px;
    font-family: var(--ftf-fraunces);
    font-weight: var(--ftw-heavy);
    text-transform: uppercase;
    padding: 3rem;
  }
}
