* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  min-height: 100vh;
  text-align: center;
  background: var(--very-dark-desaturated-blue);
}
.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.attribution {
  font-size: 0.7rem;
  a {
    color: var(--dark-cyan-graphic-text);
  }
}
