:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --blue: hsl(200, 100%, 63%);
  --dark-cyan-graphic-text: hsl(167, 40%, 24%);
  --dark-blue-photography-text: hsl(198, 62%, 26%);
  --dark-moderate-cyan-footer: hsl(168, 34%, 41%);
  --moderate-cyan-footer: hsl(167, 44%, 70%);
  --cyan-footer-logo-text: #2c7566;
  --base-color: hsl(26, 100%, 99%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --ftw-semi-bold: 600;
  --ftw-black: 900;
  --ftw-bold: 700;
  --ftf-barlow: "Barlow", sans-serif;
  --ftf-fraunces: "Fraunces", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  text-align: center;
  background: var(--very-dark-desaturated-blue);
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.attribution {
  font-size: 0.7rem;
}
.attribution a {
  color: var(--dark-cyan-graphic-text);
}

@-webkit-keyframes downArrow {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  25% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

@keyframes downArrow {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  25% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}
.hero {
  background: url(../images/mobile/image-header.jpg) center bottom/cover no-repeat;
  position: relative;
  height: 24.2222rem;
  z-index: -1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero {
    background: url(../images/desktop/image-header.jpg) center bottom/cover no-repeat;
    height: 38.3333333333rem;
  }
}
.hero__title {
  color: white;
  font-size: 2.22rem;
  font-family: var(--ftf-fraunces);
  font-weight: var(--ftw-black);
  text-transform: uppercase;
  padding: 2.5rem 1rem;
  letter-spacing: 6px;
}
@media (min-width: 768px) {
  .hero__title {
    margin-top: 2.5rem;
  }
}
.hero__arrow {
  -webkit-animation: downArrow 2s linear infinite;
          animation: downArrow 2s linear infinite;
}
@media (min-width: 768px) {
  .hero__arrow {
    margin-top: 4rem;
  }
}

.card {
  background: var(--base-color);
}
.card__body {
  padding: 2.5rem 1.5rem;
}
@media (min-width: 768px) {
  .card__body {
    padding: 1.5rem 1.5rem;
  }
}
@media (min-width: 960px) {
  .card__body {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .card__body {
    margin: 0 3rem;
  }
}
@media (min-width: 1200px) {
  .card__body {
    margin: 0 6rem;
  }
}
.card__title {
  font-size: 1.78rem;
  font-family: var(--ftf-fraunces);
  font-weight: var(--ftw-black);
  color: var(--very-dark-desaturated-blue);
}
@media (min-width: 1200px) {
  .card__title {
    font-size: 2rem;
  }
}
@media (min-width: 1400px) {
  .card__title {
    font-size: 2.2222222222rem;
  }
}
.card__text {
  font-size: 1rem;
  font-family: var(--ftf-barlow);
  font-weight: var(--ftw-semi-bold);
  line-height: 1.6;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--dark-grayish-blue);
}
@media (min-width: 960px) {
  .card__text {
    padding: 2rem 0;
  }
}

.photo__image-overlay, .graphic__image-overlay {
  display: flex;
  justify-content: center;
  height: 33.3333333333rem;
  padding-top: 22rem;
}

.photo__body, .graphic__body {
  max-width: 21rem;
}

.photo__title, .graphic__title {
  font-size: 1.55rem;
  font-family: var(--ftf-fraunces);
  font-weight: var(--ftw-black);
  padding-bottom: 1rem;
}

.photo__text, .graphic__text {
  font-size: 0.9rem;
  font-family: var(--ftf-barlow);
  font-weight: var(--ftw-semi-bold);
  line-height: 1.7;
}

.graphic {
  color: var(--dark-cyan-graphic-text);
}
.graphic__image-overlay {
  background: url(../images/mobile/image-graphic-design.jpg) center/cover no-repeat;
}
@media (min-width: 768px) {
  .graphic__image-overlay {
    background: url(../images/desktop/image-graphic-design.jpg) center/cover no-repeat;
  }
}
.photo {
  color: var(--dark-blue-photography-text);
}
.photo__image-overlay {
  background: url(../images/mobile/image-photography.jpg) center/cover no-repeat;
}
@media (min-width: 768px) {
  .photo__image-overlay {
    background: url(../images/desktop/image-photography.jpg) center/cover no-repeat;
  }
}
@media (min-width: 768px) {
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.features section.transform, .features section.audience {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features section:first-child {
  display: grid;
  grid-row: 1;
  grid-column: 2;
}

.testimonial {
  padding: 2.4rem 1.2rem;
  background: var(--base-color);
}
@media (min-width: 768px) {
  .testimonial {
    padding-top: 4rem;
  }
}
.testimonial__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .testimonial__body {
    margin: 2rem 1rem;
    gap: 2rem;
  }
}
.testimonial__card {
  flex: 1 1 20em;
  max-width: 20rem;
}
.testimonial__title {
  font-size: 0.89rem;
  font-family: var(--ftf-fraunces);
  font-weight: var(--ftw-black);
  color: var(--grayish-blue);
  letter-spacing: 4.05px;
  text-transform: uppercase;
}
@media (min-width: 960px) {
  .testimonial__title {
    font-size: 1rem;
  }
}
.testimonial__avatar {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.testimonial__avatar img {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.testimonial__text {
  font-size: 1rem;
  font-family: var(--ftf-barlow);
  font-weight: var(--ftw-semi-bold);
  line-height: 1.7;
  color: var(--very-dark-grayish-blue);
  padding: 1rem 0;
}
.testimonial__author {
  font-size: 1rem;
  font-family: var(--ftf-fraunces);
  font-weight: var(--ftw-bold);
  color: var(--very-dark-desaturated-blue);
}
.testimonial__designates {
  font-size: 0.78rem;
  font-family: var(--ftf-barlow);
  font-weight: var(--ftw-semi-bold);
  padding-bottom: 2rem;
  line-height: 2.5;
  color: var(--grayish-blue);
}

.collages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .collages {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn {
  font-size: 14px;
  font-family: var(--ftf-fraunces);
  font-weight: var(--ftw-bold);
  background: var(--yellow);
  text-transform: uppercase;
  letter-spacing: 0.6px;
  width: 7.83rem;
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 1.5rem 0;
  display: inline-block;
  color: var(--very-dark-desaturated-blue);
  transition: background 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .btn {
    background: var(--white);
  }
}
.btn:hover, .btn:focus {
  background: #5cceff;
  color: var(--white);
}

.card__link {
  font-size: 0.78rem;
  font-family: var(--ftf-fraunces);
  font-weight: var(--ftw-black);
  color: var(--very-dark-desaturated-blue);
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.7rem;
  margin-top: 0.5rem;
  opacity: 0.2;
  border-radius: 2rem;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}
.card__link:hover::after {
  opacity: 1;
}
.card__link--yellow::after {
  background: var(--yellow);
}
.card__link--red::after {
  background: var(--soft-red);
}

.navbar {
  background: var(--blue);
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 768px) {
  .navbar__brand svg {
    width: 173px;
    height: 33px;
  }
}
@media (min-width: 768px) {
  .navbar__toggler img {
    display: none;
  }
}
.navbar__toggler img.active {
  opacity: 0.6;
}
.navbar .nav {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(20%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.5s ease;
}
@media (min-width: 768px) {
  .navbar .nav {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar .nav.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(35%);
}
@media (min-width: 768px) {
  .navbar .nav.active {
    transform: translateY(0);
  }
}
.navbar .nav__list {
  margin: 0 1.5rem;
  background: var(--white);
  position: relative;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .navbar .nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    padding: 0;
  }
}
.navbar .nav__list::before {
  content: "";
  position: absolute;
  right: 0;
  top: -1.4rem;
  border-bottom: 1.5rem solid var(--white);
  border-left: 1.5rem solid transparent;
  width: 0;
  height: 0;
}
@media (min-width: 768px) {
  .navbar .nav__list::before {
    display: none;
  }
}
.navbar .nav__item {
  line-height: 2.5;
}
@media (min-width: 768px) {
  .navbar .nav__item {
    margin-left: 3rem;
  }
}
.navbar .nav__item__link {
  font-size: 1rem;
  font-family: var(--ftf-barlow);
  font-weight: var(--ftw-semi-bold);
  display: block;
  color: var(--very-dark-grayish-blue);
  transition: color 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .navbar .nav__item__link {
    color: var(--white);
  }
}
.navbar .nav__item__link:hover {
  color: var(--very-dark-desaturated-blue);
}
@media (min-width: 768px) {
  .navbar .nav__item__link:hover {
    color: var(--yellow);
  }
}

.footer {
  background: var(--moderate-cyan-footer);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer__heading svg {
  width: 171px;
  height: 35.5px;
}
.footer__heading svg > * {
  fill: var(--cyan-footer-logo-text);
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
}
.footer__item {
  line-height: 2;
  margin: 0 1rem;
}
.footer__link {
  font-size: 1rem;
  font-family: var(--ftf-barlow);
  font-weight: var(--ftw-semi-bold);
  transition: color 0.3s ease-in-out;
  color: var(--dark-moderate-cyan-footer);
}
.footer__link:hover {
  color: var(--white);
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer__social li {
  margin: 0 0.5rem;
  transition: filter 0.2s ease-in-out;
}
.footer__social li:hover {
  filter: brightness(100);
}/*# sourceMappingURL=main.css.map */