@mixin grid-column($col, $size: 1fr) {
  display: grid;
  grid-template-columns: repeat($col, $size);
  @content;
}

@mixin re-order($row: 1, $col: 1) {
  display: grid;
  grid-row: $row;
  grid-column: $col;
}
